* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

.container {
    display: grid;
    grid-column-gap: 0px;
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 2%;
    background-color: white;
    height: 600px;
    width: 600px;
    margin: auto;
}

.grid-items {
    border: 1px solid rgb(0, 0, 0);
}